.avatar3 {
    height: 30px;
    width: 30px;
    box-shadow:
        0px 0 0 #,
        30px 0 0 #,
        60px 0 0 #,
        90px 0 0 #,
        120px 0 0 #,
        150px 0 0 #,
        180px 0 0 #,
        210px 0 0 #,
        240px 0 0 #,
        270px 0 0 #,
        300px 0 0 #,
        330px 0 0 #,
        360px 0 0 #,
        390px 0 0 #,
        420px 0 0 #,
        450px 0 0 #,
        480px 0 0 #,
        510px 0 0 #,
        540px 0 0 #,
        570px 0 0 #,
        0px 0 0 #,
        30px 0 0 #,
        60px 0 0 #,
        90px 0 0 #,
        120px 0 0 #,
        150px 0 0 #,
        180px 0 0 #,
        210px 0 0 #,
        240px 0 0 #,
        270px 30 0 #,
        300px 30 0 #,
        330px 30 0 #,
        360px 30 0 #,
        390px 30 0 #,
        420px 30 0 #,
        450px 30 0 #,
        480px 30 0 #,
        510px 30 0 #,
        540px 30 0 #,
        570px 30 0 #,
        0px 30 0 #,
        30px 30 0 #,
        60px 30 0 #,
        90px 30 0 #,
        120px 30 0 #,
        150px 30 0 #,
        180px 30 0 #,
        210px 30 0 #,
        240px 30 0 #,
        270px 30 0 #,
        300px 30 0 #,
        330px 30 0 #,
        360px 30 0 #,
        390px 30 0 #,
        420px 30 0 #,
        450px 30 0 #,
        480px 30 0 #,
        510px 30 0 #,
        540px 30 0 #,
        570px 60 0 #,
        0px 60 0 #,
        30px 60 0 #,
        60px 60 0 #,
        90px 60 0 #,
        120px 60 0 #,
        150px 60 0 #,
        180px 60 0 #,
        210px 60 0 #,
        240px 60 0 #,
        270px 60 0 #,
        300px 60 0 #,
        330px 60 0 #,
        360px 60 0 #,
        390px 60 0 #,
        420px 60 0 #,
        450px 60 0 #,
        480px 60 0 #,
        510px 60 0 #,
        540px 60 0 #,
        570px 60 0 #,
        0px 60 0 #,
        30px 60 0 #,
        60px 60 0 #,
        90px 60 0 #,
        120px 60 0 #,
        150px 60 0 #,
        180px 60 0 #,
        210px 60 0 #,
        240px 60 0 #,
        270px 90 0 #,
        300px 90 0 #,
        330px 90 0 #,
        360px 90 0 #,
        390px 90 0 #,
        420px 90 0 #,
        450px 90 0 #,
        480px 90 0 #,
        510px 90 0 #,
        540px 90 0 #,
        570px 90 0 #,
        0px 90 0 #,
        30px 90 0 #,
        60px 90 0 #,
        90px 90 0 #,
        120px 90 0 #,
        150px 90 0 #,
        180px 90 0 #,
        210px 90 0 #,
        240px 90 0 #,
        270px 90 0 #,
        300px 90 0 #,
        330px 90 0 #,
        360px 90 0 #,
        390px 90 0 #,
        420px 90 0 #,
        450px 90 0 #,
        480px 90 0 #,
        510px 90 0 #,
        540px 90 0 #,
        570px 120 0 #,
        0px 120 0 #,
        30px 120 0 #,
        60px 120 0 #,
        90px 120 0 #,
        120px 120 0 #,
        150px 120 0 #,
        180px 120 0 #,
        210px 120 0 #,
        240px 120 0 #,
        270px 120 0 #,
        300px 120 0 #,
        330px 120 0 #,
        360px 120 0 #9D9D9D,
        390px 120 0 #,
        420px 120 0 #,
        450px 120 0 #,
        480px 120 0 #,
        510px 120 0 #,
        540px 120 0 #,
        570px 120 0 #,
        0px 120 0 #,
        30px 120 0 #,
        60px 120 0 #,
        90px 120 0 #,
        120px 120 0 #,
        150px 120 0 #,
        180px 120 0 #,
        210px 120 0 #,
        240px 120 0 #,
        270px 150 0 #,
        300px 150 0 #,
        330px 150 0 #868686,
        360px 150 0 #,
        390px 150 0 #868686,
        420px 150 0 #,
        450px 150 0 #,
        480px 150 0 #,
        510px 150 0 #,
        540px 150 0 #,
        570px 150 0 #,
        0px 150 0 #,
        30px 150 0 #,
        60px 150 0 #,
        90px 150 0 #,
        120px 150 0 #,
        150px 150 0 #,
        180px 150 0 #,
        210px 150 0 #,
        240px 150 0 #,
        270px 150 0 #,
        300px 150 0 #,
        330px 150 0 #868686,
        360px 150 0 #,
        390px 150 0 #868686,
        420px 150 0 #,
        450px 150 0 #,
        480px 150 0 #,
        510px 150 0 #,
        540px 150 0 #,
        570px 180 0 #,
        0px 180 0 #,
        30px 180 0 #,
        60px 180 0 #,
        90px 180 0 #,
        120px 180 0 #,
        150px 180 0 #,
        180px 180 0 #,
        210px 180 0 #,
        240px 180 0 #,
        270px 180 0 #,
        300px 180 0 #868686,
        330px 180 0 #C2C2C2,
        360px 180 0 #,
        390px 180 0 #9D9D9D,
        420px 180 0 #,
        450px 180 0 #,
        480px 180 0 #,
        510px 180 0 #,
        540px 180 0 #,
        570px 180 0 #,
        0px 180 0 #,
        30px 180 0 #,
        60px 180 0 #,
        90px 180 0 #,
        120px 180 0 #,
        150px 180 0 #,
        180px 180 0 #,
        210px 180 0 #,
        240px 180 0 #,
        270px 210 0 #,
        300px 210 0 #707070,
        330px 210 0 #,
        360px 210 0 #,
        390px 210 0 #9D9D9D,
        420px 210 0 #,
        450px 210 0 #,
        480px 210 0 #,
        510px 210 0 #,
        540px 210 0 #,
        570px 210 0 #,
        0px 210 0 #,
        30px 210 0 #,
        60px 210 0 #,
        90px 210 0 #,
        120px 210 0 #,
        150px 210 0 #,
        180px 210 0 #,
        210px 210 0 #,
        240px 210 0 #,
        270px 210 0 #,
        300px 210 0 #707070,
        330px 210 0 #,
        360px 210 0 #,
        390px 210 0 #9D9D9D,
        420px 210 0 #,
        450px 210 0 #,
        480px 210 0 #,
        510px 210 0 #,
        540px 210 0 #,
        570px 240 0 #,
        0px 240 0 #,
        30px 240 0 #,
        60px 240 0 #,
        90px 240 0 #,
        120px 240 0 #,
        150px 240 0 #,
        180px 240 0 #,
        210px 240 0 #,
        240px 240 0 #,
        270px 240 0 #,
        300px 240 0 #,
        330px 240 0 #686868,
        360px 240 0 #868686,
        390px 240 0 #666666,
        420px 240 0 #,
        450px 240 0 #,
        480px 240 0 #,
        510px 240 0 #,
        540px 240 0 #,
        570px 240 0 #,
        0px 240 0 #,
        30px 240 0 #,
        60px 240 0 #,
        90px 240 0 #,
        120px 240 0 #,
        150px 240 0 #,
        180px 240 0 #,
        210px 240 0 #,
        240px 240 0 #,
        270px 270 0 #,
        300px 270 0 #9D9D9D,
        330px 270 0 #666666,
        360px 270 0 #C2C2C2,
        390px 270 0 #787878,
        420px 270 0 #,
        450px 270 0 #,
        480px 270 0 #,
        510px 270 0 #,
        540px 270 0 #,
        570px 270 0 #,
        0px 270 0 #,
        30px 270 0 #,
        60px 270 0 #,
        90px 270 0 #,
        120px 270 0 #,
        150px 270 0 #,
        180px 270 0 #,
        210px 270 0 #,
        240px 270 0 #,
        270px 270 0 #,
        300px 270 0 #9D9D9D,
        330px 270 0 #666666,
        360px 270 0 #C2C2C2,
        390px 270 0 #787878,
        420px 270 0 #,
        450px 270 0 #,
        480px 270 0 #,
        510px 270 0 #,
        540px 270 0 #,
        570px 300 0 #,
        0px 300 0 #,
        30px 300 0 #,
        60px 300 0 #,
        90px 300 0 #,
        120px 300 0 #,
        150px 300 0 #,
        180px 300 0 #,
        210px 300 0 #,
        240px 300 0 #,
        270px 300 0 #,
        300px 300 0 #868686,
        330px 300 0 #6B6B6B,
        360px 300 0 #9D9D9D,
        390px 300 0 #9D9D9D,
        420px 300 0 #,
        450px 300 0 #,
        480px 300 0 #,
        510px 300 0 #,
        540px 300 0 #,
        570px 300 0 #,
        0px 300 0 #,
        30px 300 0 #,
        60px 300 0 #,
        90px 300 0 #,
        120px 300 0 #,
        150px 300 0 #,
        180px 300 0 #,
        210px 300 0 #,
        240px 300 0 #,
        270px 330 0 #,
        300px 330 0 #868686,
        330px 330 0 #,
        360px 330 0 #,
        390px 330 0 #9D9D9D,
        420px 330 0 #,
        450px 330 0 #,
        480px 330 0 #,
        510px 330 0 #,
        540px 330 0 #,
        570px 330 0 #,
        0px 330 0 #,
        30px 330 0 #,
        60px 330 0 #,
        90px 330 0 #,
        120px 330 0 #,
        150px 330 0 #,
        180px 330 0 #,
        210px 330 0 #,
        240px 330 0 #,
        270px 330 0 #,
        300px 330 0 #868686,
        330px 330 0 #,
        360px 330 0 #,
        390px 330 0 #9D9D9D,
        420px 330 0 #,
        450px 330 0 #,
        480px 330 0 #,
        510px 330 0 #,
        540px 330 0 #,
        570px 360 0 #,
        0px 360 0 #,
        30px 360 0 #,
        60px 360 0 #,
        90px 360 0 #,
        120px 360 0 #,
        150px 360 0 #,
        180px 360 0 #,
        210px 360 0 #,
        240px 360 0 #,
        270px 360 0 #C2C2C2,
        300px 360 0 #9D9D9D,
        330px 360 0 #,
        360px 360 0 #C2C2C2,
        390px 360 0 #,
        420px 360 0 #,
        450px 360 0 #,
        480px 360 0 #,
        510px 360 0 #,
        540px 360 0 #,
        570px 360 0 #,
        0px 360 0 #,
        30px 360 0 #,
        60px 360 0 #,
        90px 360 0 #,
        120px 360 0 #,
        150px 360 0 #,
        180px 360 0 #,
        210px 360 0 #,
        240px 360 0 #,
        270px 390 0 #,
        300px 390 0 #C2C2C2,
        330px 390 0 #868686,
        360px 390 0 #868686,
        390px 390 0 #,
        420px 390 0 #,
        450px 390 0 #,
        480px 390 0 #,
        510px 390 0 #,
        540px 390 0 #,
        570px 390 0 #;
}
