.avatar2 {
    height: 30px;
    width: 30px;
    box-shadow:
        0px 0px 0 #012A2A,
        30px 0px 0 #ffffff,
        60px 0px 0 #ffffff,
        90px 0px 0 #ffffff,
        120px 0px 0 #ffffff,
        150px 0px 0 #ffffff,
        180px 0px 0 #ffffff,
        210px 0px 0 #ffffff,
        240px 0px 0 #ffffff,
        270px 0px 0 #ffffff,
        300px 0px 0 #ffffff,
        330px 0px 0 #ffffff,
        360px 0px 0 #ffffff,
        390px 0px 0 #ffffff,
        420px 0px 0 #ffffff,
        450px 0px 0 #ffffff,
        480px 0px 0 #ffffff,
        510px 0px 0 #ffffff,
        540px 0px 0 #ffffff,
        570px 0px 0 #,
        0px 0px 0 #012A2A,
        30px 0px 0 #ffffff,
        60px 0px 0 #ffffff,
        90px 0px 0 #ffffff,
        120px 0px 0 #ffffff,
        150px 0px 0 #ffffff,
        180px 0px 0 #ffffff,
        210px 0px 0 #ffffff,
        240px 0px 0 #ffffff,
        270px 30px 0 #ffffff,
        300px 30px 0 #ffffff,
        330px 30px 0 #ffffff,
        360px 30px 0 #ffffff,
        390px 30px 0 #ffffff,
        420px 30px 0 #ffffff,
        450px 30px 0 #ffffff,
        480px 30px 0 #ffffff,
        510px 30px 0 #ffffff,
        540px 30px 0 #ffffff,
        570px 30px 0 #ffffff,
        0px 30px 0 #9BABAB,
        30px 30px 0 #ffffff,
        60px 30px 0 #ffffff,
        90px 30px 0 #ffffff,
        120px 30px 0 #ffffff,
        150px 30px 0 #ffffff,
        180px 30px 0 #ffffff,
        210px 30px 0 #ffffff,
        240px 30px 0 #ffffff,
        270px 30px 0 #ffffff,
        300px 30px 0 #ffffff,
        330px 30px 0 #ffffff,
        360px 30px 0 #ffffff,
        390px 30px 0 #ffffff,
        420px 30px 0 #ffffff,
        450px 30px 0 #ffffff,
        480px 30px 0 #ffffff,
        510px 30px 0 #ffffff,
        540px 30px 0 #ffffff,
        570px 60px 0 #ffffff,
        0px 60px 0 #ffffff,
        30px 60px 0 #ffffff,
        60px 60px 0 #ffffff,
        90px 60px 0 #868686,
        120px 60px 0 #ffffff,
        150px 60px 0 #ffffff,
        180px 60px 0 #ffffff,
        210px 60px 0 #C2C2C2,
        240px 60px 0 #9D9D9D,
        270px 60px 0 #9D9D9D,
        300px 60px 0 #868686,
        330px 60px 0 #ffffff,
        360px 60px 0 #ffffff,
        390px 60px 0 #ffffff,
        420px 60px 0 #ffffff,
        450px 60px 0 #ffffff,
        480px 60px 0 #ffffff,
        510px 60px 0 #ffffff,
        540px 60px 0 #ffffff,
        570px 60px 0 #ffffff,
        0px 60px 0 #ffffff,
        30px 60px 0 #ffffff,
        60px 60px 0 #ffffff,
        90px 60px 0 #868686,
        120px 60px 0 #ffffff,
        150px 60px 0 #ffffff,
        180px 60px 0 #ffffff,
        210px 60px 0 #C2C2C2,
        240px 60px 0 #9D9D9D,
        270px 90px 0 #ffffff,
        300px 90px 0 #868686,
        330px 90px 0 #C2C2C2,
        360px 90px 0 #ffffff,
        390px 90px 0 #868686,
        420px 90px 0 #868686,
        450px 90px 0 #ffffff,
        480px 90px 0 #ffffff,
        510px 90px 0 #ffffff,
        540px 90px 0 #ffffff,
        570px 90px 0 #ffffff,
        0px 90px 0 #ffffff,
        30px 90px 0 #ffffff,
        60px 90px 0 #ffffff,
        90px 90px 0 #9D9D9D,
        120px 90px 0 #ffffff,
        150px 90px 0 #C2C2C2,
        180px 90px 0 #C2C2C2,
        210px 90px 0 #C2C2C2,
        240px 90px 0 #C2C2C2,
        270px 90px 0 #ffffff,
        300px 90px 0 #868686,
        330px 90px 0 #C2C2C2,
        360px 90px 0 #ffffff,
        390px 90px 0 #868686,
        420px 90px 0 #868686,
        450px 90px 0 #ffffff,
        480px 90px 0 #ffffff,
        510px 90px 0 #ffffff,
        540px 90px 0 #ffffff,
        570px 120px 0 #ffffff,
        0px 120px 0 #ffffff,
        30px 120px 0 #ffffff,
        60px 120px 0 #ffffff,
        90px 120px 0 #C2C2C2,
        120px 120px 0 #9D9D9D,
        150px 120px 0 #868686,
        180px 120px 0 #ffffff,
        210px 120px 0 #ffffff,
        240px 120px 0 #ffffff,
        270px 120px 0 #9D9D9D,
        300px 120px 0 #ffffff,
        330px 120px 0 #ffffff,
        360px 120px 0 #C2C2C2,
        390px 120px 0 #9D9D9D,
        420px 120px 0 #ffffff,
        450px 120px 0 #ffffff,
        480px 120px 0 #ffffff,
        510px 120px 0 #ffffff,
        540px 120px 0 #ffffff,
        570px 120px 0 #ffffff,
        0px 120px 0 #ffffff,
        30px 120px 0 #ffffff,
        60px 120px 0 #ffffff,
        90px 120px 0 #C2C2C2,
        120px 120px 0 #9D9D9D,
        150px 120px 0 #868686,
        180px 120px 0 #ffffff,
        210px 120px 0 #ffffff,
        240px 120px 0 #ffffff,
        270px 150px 0 #9D9D9D,
        300px 150px 0 #C2C2C2,
        330px 150px 0 #C2C2C2,
        360px 150px 0 #ffffff,
        390px 150px 0 #ffffff,
        420px 150px 0 #ffffff,
        450px 150px 0 #ffffff,
        480px 150px 0 #ffffff,
        510px 150px 0 #ffffff,
        540px 150px 0 #ffffff,
        570px 150px 0 #ffffff,
        0px 150px 0 #ffffff,
        30px 150px 0 #ffffff,
        60px 150px 0 #C2C2C2,
        90px 150px 0 #9D9D9D,
        120px 150px 0 #9D9D9D,
        150px 150px 0 #9D9D9D,
        180px 150px 0 #C2C2C2,
        210px 150px 0 #C2C2C2,
        240px 150px 0 #C2C2C2,
        270px 150px 0 #9D9D9D,
        300px 150px 0 #C2C2C2,
        330px 150px 0 #C2C2C2,
        360px 150px 0 #ffffff,
        390px 150px 0 #ffffff,
        420px 150px 0 #ffffff,
        450px 150px 0 #ffffff,
        480px 150px 0 #ffffff,
        510px 150px 0 #ffffff,
        540px 150px 0 #ffffff,
        570px 180px 0 #ffffff,
        0px 180px 0 #ffffff,
        30px 180px 0 #ffffff,
        60px 180px 0 #9D9D9D,
        90px 180px 0 #9D9D9D,
        120px 180px 0 #ffffff,
        150px 180px 0 #ffffff,
        180px 180px 0 #ffffff,
        210px 180px 0 #ffffff,
        240px 180px 0 #C2C2C2,
        270px 180px 0 #ffffff,
        300px 180px 0 #ffffff,
        330px 180px 0 #ffffff,
        360px 180px 0 #ffffff,
        390px 180px 0 #ffffff,
        420px 180px 0 #ffffff,
        450px 180px 0 #ffffff,
        480px 180px 0 #ffffff,
        510px 180px 0 #ffffff,
        540px 180px 0 #ffffff,
        570px 180px 0 #ffffff,
        0px 180px 0 #ffffff,
        30px 180px 0 #ffffff,
        60px 180px 0 #9D9D9D,
        90px 180px 0 #9D9D9D,
        120px 180px 0 #ffffff,
        150px 180px 0 #ffffff,
        180px 180px 0 #ffffff,
        210px 180px 0 #ffffff,
        240px 180px 0 #C2C2C2,
        270px 210px 0 #C2C2C2,
        300px 210px 0 #9D9D9D,
        330px 210px 0 #9D9D9D,
        360px 210px 0 #9D9D9D,
        390px 210px 0 #ffffff,
        420px 210px 0 #ffffff,
        450px 210px 0 #ffffff,
        480px 210px 0 #ffffff,
        510px 210px 0 #ffffff,
        540px 210px 0 #ffffff,
        570px 210px 0 #ffffff,
        0px 210px 0 #ffffff,
        30px 210px 0 #ffffff,
        60px 210px 0 #9D9D9D,
        90px 210px 0 #9D9D9D,
        120px 210px 0 #ffffff,
        150px 210px 0 #ffffff,
        180px 210px 0 #ffffff,
        210px 210px 0 #C2C2C2,
        240px 210px 0 #ffffff,
        270px 210px 0 #C2C2C2,
        300px 210px 0 #9D9D9D,
        330px 210px 0 #9D9D9D,
        360px 210px 0 #9D9D9D,
        390px 210px 0 #ffffff,
        420px 210px 0 #ffffff,
        450px 210px 0 #ffffff,
        480px 210px 0 #ffffff,
        510px 210px 0 #ffffff,
        540px 210px 0 #ffffff,
        570px 240px 0 #ffffff,
        0px 240px 0 #ffffff,
        30px 240px 0 #ffffff,
        60px 240px 0 #ffffff,
        90px 240px 0 #9D9D9D,
        120px 240px 0 #C2C2C2,
        150px 240px 0 #9D9D9D,
        180px 240px 0 #9D9D9D,
        210px 240px 0 #ffffff,
        240px 240px 0 #9D9D9D,
        270px 240px 0 #9D9D9D,
        300px 240px 0 #C2C2C2,
        330px 240px 0 #666666,
        360px 240px 0 #868686,
        390px 240px 0 #ffffff,
        420px 240px 0 #ffffff,
        450px 240px 0 #ffffff,
        480px 240px 0 #ffffff,
        510px 240px 0 #ffffff,
        540px 240px 0 #ffffff,
        570px 240px 0 #ffffff,
        0px 240px 0 #ffffff,
        30px 240px 0 #ffffff,
        60px 240px 0 #ffffff,
        90px 240px 0 #9D9D9D,
        120px 240px 0 #C2C2C2,
        150px 240px 0 #9D9D9D,
        180px 240px 0 #9D9D9D,
        210px 240px 0 #ffffff,
        240px 240px 0 #9D9D9D,
        270px 270px 0 #ffffff,
        300px 270px 0 #ffffff,
        330px 270px 0 #666666,
        360px 270px 0 #C2C2C2,
        390px 270px 0 #ffffff,
        420px 270px 0 #ffffff,
        450px 270px 0 #ffffff,
        480px 270px 0 #ffffff,
        510px 270px 0 #ffffff,
        540px 270px 0 #ffffff,
        570px 270px 0 #ffffff,
        0px 270px 0 #ffffff,
        30px 270px 0 #ffffff,
        60px 270px 0 #ffffff,
        90px 270px 0 #ffffff,
        120px 270px 0 #6B6B6B,
        150px 270px 0 #9D9D9D,
        180px 270px 0 #ffffff,
        210px 270px 0 #C2C2C2,
        240px 270px 0 #C2C2C2,
        270px 270px 0 #ffffff,
        300px 270px 0 #ffffff,
        330px 270px 0 #666666,
        360px 270px 0 #C2C2C2,
        390px 270px 0 #ffffff,
        420px 270px 0 #ffffff,
        450px 270px 0 #ffffff,
        480px 270px 0 #ffffff,
        510px 270px 0 #ffffff,
        540px 270px 0 #ffffff,
        570px 300px 0 #ffffff,
        0px 300px 0 #ffffff,
        30px 300px 0 #ffffff,
        60px 300px 0 #ffffff,
        90px 300px 0 #ffffff,
        120px 300px 0 #ffffff,
        150px 300px 0 #ffffff,
        180px 300px 0 #ffffff,
        210px 300px 0 #9D9D9D,
        240px 300px 0 #ffffff,
        270px 300px 0 #ffffff,
        300px 300px 0 #ffffff,
        330px 300px 0 #ffffff,
        360px 300px 0 #ffffff,
        390px 300px 0 #ffffff,
        420px 300px 0 #ffffff,
        450px 300px 0 #ffffff,
        480px 300px 0 #ffffff,
        510px 300px 0 #ffffff,
        540px 300px 0 #ffffff,
        570px 300px 0 #ffffff,
        0px 300px 0 #ffffff,
        30px 300px 0 #ffffff,
        60px 300px 0 #ffffff,
        90px 300px 0 #ffffff,
        120px 300px 0 #ffffff,
        150px 300px 0 #ffffff,
        180px 300px 0 #ffffff,
        210px 300px 0 #9D9D9D,
        240px 300px 0 #ffffff,
        270px 330px 0 #ffffff,
        300px 330px 0 #ffffff,
        330px 330px 0 #ffffff,
        360px 330px 0 #ffffff,
        390px 330px 0 #ffffff,
        420px 330px 0 #ffffff,
        450px 330px 0 #ffffff,
        480px 330px 0 #ffffff,
        510px 330px 0 #ffffff,
        540px 330px 0 #ffffff,
        570px 330px 0 #ffffff,
        0px 330px 0 #ffffff,
        30px 330px 0 #ffffff,
        60px 330px 0 #ffffff,
        90px 330px 0 #ffffff,
        120px 330px 0 #ffffff,
        150px 330px 0 #ffffff,
        180px 330px 0 #ffffff,
        210px 330px 0 #9D9D9D,
        240px 330px 0 #ffffff,
        270px 330px 0 #ffffff,
        300px 330px 0 #ffffff,
        330px 330px 0 #ffffff,
        360px 330px 0 #ffffff,
        390px 330px 0 #ffffff,
        420px 330px 0 #ffffff,
        450px 330px 0 #ffffff,
        480px 330px 0 #ffffff,
        510px 330px 0 #ffffff,
        540px 330px 0 #ffffff,
        570px 360px 0 #ffffff,
        0px 360px 0 #ffffff,
        30px 360px 0 #ffffff,
        60px 360px 0 #ffffff,
        90px 360px 0 #ffffff,
        120px 360px 0 #ffffff,
        150px 360px 0 #ffffff,
        180px 360px 0 #ffffff,
        210px 360px 0 #ffffff,
        240px 360px 0 #9D9D9D,
        270px 360px 0 #ffffff,
        300px 360px 0 #ffffff,
        330px 360px 0 #ffffff,
        360px 360px 0 #ffffff,
        390px 360px 0 #ffffff,
        420px 360px 0 #ffffff,
        450px 360px 0 #ffffff,
        480px 360px 0 #ffffff,
        510px 360px 0 #ffffff,
        540px 360px 0 #ffffff,
        570px 360px 0 #ffffff,
        0px 360px 0 #ffffff,
        30px 360px 0 #ffffff,
        60px 360px 0 #ffffff,
        90px 360px 0 #ffffff,
        120px 360px 0 #ffffff,
        150px 360px 0 #ffffff,
        180px 360px 0 #ffffff,
        210px 360px 0 #ffffff,
        240px 360px 0 #9D9D9D,
        270px 390px 0 #9D9D9D,
        300px 390px 0 #C2C2C2,
        330px 390px 0 #9D9D9D,
        360px 390px 0 #ffffff,
        390px 390px 0 #C2C2C2,
        420px 390px 0 #C2C2C2,
        450px 390px 0 #C2C2C2,
        480px 390px 0 #9D9D9D,
        510px 390px 0 #ffffff,
        540px 390px 0 #ffffff,
        570px 390px 0 #ffffff;
}
